/* Apply background to the entire body */
body {
    background-color: #69a5ff; /* Light grey background color */
    /* background-image: url('media/zimbackround.png'); /* Path to your background image */
    background-size: cover; /*Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background */
}